@model List<Ingredient>
@{
    ViewData["Title"] = "Index";
}
<h2 class="text-center mb-5 text-white">List of Ingredient</h2>

<p>
    <a class="btn btn-lg btn-close-white border" asp-controller="Ingredient" asp-action="Create">Add New Ingredient</a>
</p>
 

<table class="table table-responsive-lg  table-bordered table-striped table-hover table-dark">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var Ingredient in Model)
        {
            <tr>
                <td>@Ingredient.Id</td>
                <td>@Ingredient.Name</td>
                <td>@Ingredient.Description</td>
                <td style=" white-space:nowrap">
                    <a class="btn btn-primary btn-sm" asp-controller="Ingredient" asp-action="Edit" asp-route-id="@Ingredient.Id">
                        Edit
                    </a>
                    <a class="btn btn-danger btn-sm" asp-controller="Ingredient" asp-action="Delete" asp-route-id="@Ingredient.Id">
                        Delete
                    </a>


                </td>
            </tr>
        }
    </tbody>
</table>

